/***************************************************/
/*        Base styles for main content layout      */
/***************************************************/
.container{
	
	max-width  			: $full-width;
	background-color  	: #5a5a5a;
	font-size  			: 1.5rem;
	color  				: $text-primary;

}
